@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwind-scrollbar-hide/v4';

body {
    /* font-family: 'Big Shoulders Inline', cursive; */
    /* font-family: 'Karla', sans-serif; */
    font-family: 'Roboto Mono', monospace;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none !important;
}

.hide-scrollbar {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}